<div class="chatboxhead">
  <div class="chatboxtitle">
    <i class="fa fa-comments"></i>

    <h1> <%= @chat_room.title %> </h1>
  </div>
  <div class="chatboxoptions">
    <%= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @chat_room.id %>
    &nbsp;&nbsp;
    <%= link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @chat_room.id %>
  </div>
  <br clear="all"/>
</div>
<!-- chat messages -->
<div id="messages", class="chatboxcontent messages", data-chat-room-id="<%= @chat_room.id %>">
<% if @chat_room.messages.any? %>
<% @chat_room.messages.each do |message| %>

<li class="<%=  self_or_other(message) %>">
  <div class="avatar">
    <%= gravatar_for message.user %>
  </div>
  <div class="chatboxmessagecontent">
    <p><%= message.body %></p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
      <%= message_interlocutor(message).email %> • <%= message.created_at.strftime("%H:%M %p") %>
    </time>
  </div>
</li>

  <% end %>
<% end %>
</div>
<!-- end chat messages -->

<%= form_for @message, url: '#', remote: true, class: "chatbox-new-message" do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>
