<%= render "layouts/navbar" %>

USER:</br>
EMAIL:
<%= @user.email %></br>
encrypted_password:
<%= @user.encrypted_password %></br>
created_at:
<%= @user.created_at %></br>


PROVIDERS: </br>
<% if !@identyties.nil? %>
			<% @identyties.each do |iden| %>
			  <tr>
          ID:
			    <td><%= iden.user_id %></td> </br>
          PROVIDER:
          <td><%= iden.provider %></td></br>
          ACCESSTOKEN:
          <td><%= iden.accesstoken %></td><br>
          UID:
          <td><%= iden.uid %></td></br>
          NAME:
          <td><%= iden.name %></td></br>
          EMAIL:
          <td><%= iden.email %></td></br>
          NICKNAME:
          <td><%= iden.nickname %></td></br>
          IMAGE:
          <td><%= iden.image %></td></br>
          URLS:
          <td><%= iden.urls %></td></br>
          CREATED_AT:
          <td><%= iden.created_at %></td></br>
			  </tr>
			<% end %>
<% end %>
