<div class="ui raised segment container">
  <h2 class="ui header"><%= @room.title %></h2>

  <div class="ui comments messages" data-room-id="<%= @room.id %>">
    <%= render @room.messages %>
  </div>

  <%= form_for @message, url: '#', html: {class: "ui reply form"} do |f| %>
    <div class="form-group field" data-room-id="<%= @room.id %>">
      <%= f.text_area :body, class: 'message_body' %>
      <small class="text-muted">From 2 to 1000 characters</small>
    </div>
  <% end %>
</div>


