<nav class="ui borderless main menu fixed">
  <div class="ui container">

    <!-- left side -->
    <div class="item">
      <p class="header item">Chatter</p>
      <%= link_to "Peoples", root_path, class: "item" %>
      <%= link_to "Rooms", rooms_path, class: "item" %>
    </div>

    <div class="item ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search...">
        <i class="search icon"></i>
      </div>
      <div class="results">

      </div>
    </div>

    <!-- riight side -->
    <div class=" right item">
      <% if user_signed_in? then %>
        <%= link_to current_user.nickname, edit_user_registration_path, class:"header item" %>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "item" %>
        <%= link_to "Signout", destroy_user_session_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "Log In", new_user_session_path, class: "item" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "item" %>
      <% end %>
    </div>

  </div>
</nav>
